
html{
	height: 100%;
	font-family: Lato, sans-serif;
}
body{
	color: #fafafafa;
}
*{
	box-sizing: border-box;
	outline: none;
}

.fz-14{
	font-size: 14px;
}

.fz-12{
	font-size: 12px;
}
.page-dashboard .header{
	z-index: 1200;
	height: 50px;
	background-color: #FAFAFAFA;
}
.page-dashboard .header a{
	border: none;
	background-color: #fafafafa !important;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,.15);
    box-shadow: 0 0 0 rgba(0,0,0,.15);
}
.page-dashboard .ui-panel-wrapper{
	background-color: #fff;
	text-shadow: 0 0 0 #fff;
	color: rgba(102, 102, 102, 1);
}
.panel-heading .chevron-icon{
	top: 5px;
	right: 0;
}
.accounts{
	padding: 5px;
    top: 0;
    right: 0px;
    transform: translate(-15%,0%);
}
.accounts-info{
	height: 80px;
}
.accounts-info span{
	padding-left: 75px;color: rgba(102, 102, 102, 1);
}
.accounts img:last-child{
	left: 45px;top: 41px;
}
.accounts img{
	float: right;
}
.search .ui-input-text{
	display: contents;
}
.icon-search{
	top: 0;
	left: 73%;
    height: 28px;
    width: 28px;
    background-color: #F1F1F1;
    padding: 3px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search input{
    width: 56%;
    margin-left: 18%;
    padding: 0;
    min-height: 28px;
    background-color: #F1F1F1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
    margin-top: 9px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border:none;
}
.swipe{
	padding: 1px;
	background-color: #fff;
	z-index: -1;
}
.ui-content h6{
	font-weight: bold;
	color: rgba(102, 102, 102, 1);
}
.page-dashboard .footer{
    width: 100%;
    bottom: -1px;
    height: 45px;
    background-color: #FAFAFAFA;
    border: none;
}
.tab-dashboard{
    padding: 4px;
    left: 7%;
}
.tab-check{
	padding: 4px;
	left: 25%;
}
.tab-email{
	padding: 4px;
	left: 45%;
}
.tab-list{
	padding: 4px;
	left: 66%;
}
.tab-notification{
	padding: 4px;	
	left: 83%;
}
.fast-rp-content{
	height: 130px;
	width: 100%;
    padding-left: 5px !important;
}
.item-rp{
	-webkit-box-shadow: 0px 15px 20px -15px ;
	-moz-box-shadow: 0px 15px 20px -15px ;
	box-shadow: 0px 15px 20px -15px;
	width: 150px;
	height: 90px;
	border-radius: 10px;
	padding: 15px;
    flex: 0 0 150px;
    max-width: 150px;	
    background-color: #7E70D5;
}
#curve_chart,#donut_single{
	background-color: #fff;
}
.scrolling-wrapper{
	flex-wrap: nowrap;
	overflow-x: auto;
}
#click-add-fast-rp,#click-add-detail-rp{	
	position: absolute;
	color: black ;
	top: 0px;
	right: 10px;
	z-index: 1000;
}
#close-popup{
	position: absolute;
	color: black ;
	top: 0px;
	right: 10px;
	z-index: 1000;
}
.add-report-icon span{
	float: right;
}
#myPanel{
    box-shadow: inset 0px 0 5px rgba(0,0,0,.15);
}
#popup-add-report,#popup-add-chart{
	box-shadow: 0px 6px 6px -5px rgba(0, 0, 0, 0.5);
}
#popup-add-report-popup{
    top: 52px!important; 
}
#popup-add-chart-popup{
	top: 252px!important; 
}
.scroll{
	height: 200px;
	overflow-y: scroll;
}
.qty{
	font-weight: bold;
	font-size: 30px;
	/*text-align: center;*/
}
.item-rp span{
	color: #fff;
}
.ui-navbar li{
	border: none;
	box-shadow: 0 0 0;
}
.ui-navbar a{
	border: none;
	box-shadow: 0 0 0;
}
.ui-btna{
	-webkit-box-shadow: 0 0 0 #FAFAFAFA !important;
    -moz-box-shadow: 0 0 0 #FAFAFAFA !important;
    box-shadow: 0 0 0 #FAFAFAFA !important;
    background-color: #FAFAFAFA !important;
    border-color: #FAFAFAFA !important;
    color: #FAFAFAFA !important;
    text-shadow: 0 0 0 #FAFAFAFA !important;

}
/*.footer li{
	padding: 7px;
}*/
.panel-heading{
    margin-left: -35px;
    margin-top: -10px;
}
/*.ui-panel-dismiss-open{
    background-color: rgba(0, 0, 0, 0.5);
    transition:background-color 0.5s;
    opacity: 1;
    transition-delay: 0.5s;
    transition: opacity 0.3s ease;
}*/
.icon-close-right{
    margin-top: -5px;
    margin-left: -5px;
}
.form-add-rp .custom-label{
	background-color: #fff;
	border: none;
	font-size: 14px;
	font-weight: normal;
}
.form-add-rp .custom-label:after{
	background-color: green;
}
.form-add-chart .custom-label{
	background-color: #fff;
	border: none;
	font-size: 14px;
	font-weight: normal;
}
.form-add-chart .custom-label:after{
	background-color: green;
}

.menu .item-child{
	font-weight: normal;
	background-color: #fff;
	border: none;
	
	margin-top: 15px;
	font-size: 16px;
}
.menu .item-child a{
	color: rgba(102, 102, 102, 1) ;
	font-weight: 500;
}
.close-popup-report,.close-popup-chart{
	position: absolute;
	top: 5px;
	right: 5px;
}
#panel-accounts{
	z-index: 1300;
}



/*DUYỆT*/





#menu-tabs li a{
	text-shadow: 0 0 0;
	background-color: #fff;
	color: rgba(102, 102, 102, 1);
	font-size: 14px;
    font-weight: 500;
	/*border-bottom: 2px solid #F68B1E;*/
}
.menu-tabs .tabs-item:focus{
    background-color: #fff;
    border: 0;
    box-shadow: 0 0 0;
    text-shadow: 0 0 0;
 	border-bottom: 2px solid #F68B1E;
}

.ui-tabs-active .tabs-item{
 	border-bottom: 2px solid #F68B1E !important;
}
.item-approve-wt,.item-approve-done,.item-approve-des{
	margin-top: 20px;
	max-height: 62px;
}
.icon-tag{
	top: 30px;
    left: 22px;
}
.time-approve{
	margin-left: 60px;
	margin-top: -17px;
}
.status-approve{
    height: 9px;
    width: 23px;
    background-color: green;
    float: left;
    border-radius: 10px;
    margin-top: 3px;
    margin-right: 10px;
}
.content-approve-wt p{
	line-height: 1.5;
	padding-left: 60px;
}
.content-approve-done p,.content-approve-des p {
	padding-left: 60px;
	padding-right: 30px;
	line-height: 1.5;
}
.action{
    top: 0;
    width: 100px !important;
    right: -120px;
    outline: none;
}
.action::before {
    background: #E74C3C;
}

.behind {
    transition: 500ms;
    height: 100%;
    position: absolute;
    top: 0;
    right: -215px;
}
.behind a.ui-btn {
    width: 93px;
    height: 47px;
    margin: 0px;
    float: right;
    border: none;
    
}
.behind a.ui-btn:focus{
	-webkit-box-shadow: 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
}
.behind a.delete-btn, .behind a.delete-btn:active, .behind a.delete-btn:visited, .behind a.delete-btn:focus, .behind a.delete-btn:hover {
    color: white;
    background-color: red;
    text-shadow: none;
}