html{
    height: 100%;
    font-family: Lato, sans-serif;
}   
*{
    box-sizing: border-box;
    outline: none;
}
body{
    height: 100%;
}
strong{
    font-weight: 700;
}
.text-capitalize{
    text-transform: capitalize;
}
#sidenav-overlay{
    z-index: 1005;
}
#slide-out-left, #slide-out-right {
    background: #fff;
    color: #444;
    z-index: 10000;
}
.fz-12{
    font-size: 12px;
}
.fz-14{
    font-size: 14px;
}
.fz-20{
    font-size: 20px;
}
.fz-16{
    font-size: 16px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.border-bottom{
    border-bottom: 1px solid #dee2e6;
}
.border-top{
    border-top: 1px solid #dee2e6;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.mt-4{
    margin-top: 1.5rem!important;
}
.mr-4{
    margin-right: 1.5rem!important;
}
.mb-4{
    margin-bottom: 1.5rem!important;
}
.pt-3{
    padding-top: 1rem!important;
}
.pl-3{
    padding-left: 1rem!important;
}
.pr-3{
    padding-right: 1rem!important;
}
.ml-3{
    margin-left: 1rem!important;
}
.mt-3{
    margin-top: 1rem!important;
}
.ml-2{
    margin-left: .5rem!important;
}
.pb-2 {
    padding-bottom: .5rem!important;
}
.pr-2{
    padding-right: .5rem!important;
}
.pl-2{
    padding-left: .5rem!important;
}
.mr-2{
    margin-right: .5rem!important;
}
.mt-2{
    margin-top: .5rem!important;
}
.mt-1{
    margin-top: .25rem!important;
}
.mb-1{
    margin-bottom: .25rem!important;
}
.p-0{
    padding: 0!important;
}
.p-2 {
    padding: .5rem!important;
}
.p-3 {
    padding: 1rem!important;
}
.m-0{
    margin:0!important;
}
.ml-0{
    margin-left: 0!important;
}
.rounded-circle {
    border-radius: 50%;
}
.d-block{
    display: block !important;
}
.d-none{
    display: none !important;
}
.d-inline{
    display: inline!important;
}
.font-weight-bold {
    font-weight: 700;
}
.font-weight-normal {
    font-weight: 400;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
.text-center{
    text-align: center;
}
.drag-target{
    width: 20px ;
}
.top-navbar-left{
    padding: 10px;
    float: left;
    position: absolute;
    z-index: 10;
}
.fast-rp-content{
    height: 130px;
    width: 100%;
    padding-left: 5px;
}
.scrolling-wrapper{
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.item-rp{
    -webkit-box-shadow: 0px 15px 20px -15px ;
    -moz-box-shadow: 0px 15px 20px -15px ;
    box-shadow: 0px 15px 20px -15px;
    width: 150px;
    height: 90px;
    border-radius: 10px;
    flex: 0 0 150px;
    max-width: 150px;   
    background-color: #7E70D5;
}
.item-rp span{
    color: #fff;
}
.top-navbar{
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
    height: 50px;
    background-color: #FAFAFAFA;
}
.top-search{
    /*position: absolute;*/
}
.search .ui-input-text{
    display: contents;
}
.icon-search{
    left: 75%;
    transform: translate(-50%,38%);
    height: 28px;
    width: 28px;
    background-color: #F1F1F1;
    padding: 4px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#input-search{
    width: 52%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,38%);
    height: 28px;
    background-color: #F1F1F1;
    border-radius: 20px;
    border:none;
    padding-left: 5px;
}
#input-search:focus{
    box-shadow: 0 0 0;
}
.top-navbar-right{
    padding: 5px;
    top: 0;
    right: 0px;
    transform: translate(-15%,0%);
}
.heading-rp{
    font-weight: bold;
    color: rgba(102, 102, 102, 1);
    font-size: 16px;
}
.qty{
    font-weight: bold;
    font-size: 30px;
    /*text-align: center;*/
}
.panel-heading{
    margin-left: -35px;
}

.menu ul>li a{
    color: rgba(102, 102, 102, 1) ;
    font-weight: 500;
}
.menu ul>li img{
    margin-top: 13px;
}
.accounts{
    float: right;
}
.accounts-info{
    height: 80px;
}
.accounts-info span{
    padding-left: 75px;
    color: rgba(102, 102, 102, 1);
}
.accounts-info img:first-child{
    float: left;
    margin-left: 10px;
}
.accounts-info img:nth-child(2){
    left: 45px;top: 41px;
}
.icon-add-rp{
    top: 13px;
    right: 20px;
}
.icon-add-ch{
    top: 0;
    right: 20px;
}
.form-add-report{
    z-index: 1000;
    background: #fff;
    width: 210px;
    height: 200px;
    right: 10px;
    -webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow:0 1px 9px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.12);
    display: none;
    top: 19px;
}
.form-add-chart{
    z-index: 1000;
    background: #fff;
    width: 210px;
    height: 200px;
    right: 10px;
    -webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow:0 1px 9px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.12);
    display: none;
    top: 5px;
}
.scroll{
    height:83%;
    overflow-y: scroll;
}
.scroll label{
    color: rgba(102, 102, 102, 1);
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    bottom: 3px;
    height: 45px;
    border: none;
}
.footer ul>li{
    width: 20%;
}
.footer .tabs .indicator{
    bottom: 5px;
    background-color: #FF731F;
}
.footer .tabs{
    background-color: #FAFAFAFA;
}

/*//*/
.menu-tab-approve .tabs .indicator{
    background-color: #FF731F;
}
.menu-tab-approve a{
    text-decoration: none;
}
/*.menu-tab-approve a:active{
    color: #FF731F;
}*/
.menu-tab-approve li{
    width: 33.33%;
    text-decoration: none;
}
.menu-tab-approve a:hover{
    text-decoration: none;
}
.item-approve-wt,.item-approve-done,.item-approve-des{
    margin-top: 20px;
    max-height: 62px;
}
.waiting-approve{
    overflow:-webkit-paged-x;
}
.icon-tag{
    top: 30px;
    left: 35px;
}
.time-approve{
    margin-left: 60px;
    margin-top: -17px;
}
.status-approve{
    height: 9px;
    width: 23px;
    background-color: green;
    float: left;
    border-radius: 10px;
    margin-top: 3px;
    margin-right: 10px;
}
.content-approve-wt p{
    line-height: 1.5;
    padding-left: 60px;
}
.content-approve-done p,.content-approve-des p {
    padding-left: 60px;
    padding-right: 30px;
    line-height: 1.5;
}
.behind {
    transition: 500ms;
    position: absolute;
    top: 0;
    right: -215px;
}
.behind a {
    width: 93px;
    height: 47px;
    margin: 0px;
    float: right;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 0 0 23px;
    
}
.behind a:focus{
    -webkit-box-shadow: 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
}
.behind a.delete-btn, .behind a.delete-btn:active, .behind a.delete-btn:visited, .behind a.delete-btn:focus, .behind a.delete-btn:hover {
    color: white;
    background-color: red;
    text-shadow: none;
    text-decoration: none;
}
.behind a.check-btn, .behind a.check-btn:active, .behind a.check-btn:visited, .behind a.check-btn:focus, .behind a.check-btn:hover {
    color: black;
    background-color: #ccc;
    text-shadow: none;
    text-decoration: none;
}
.menu-tab-approve .tab a{
    color: rgba(102, 102, 102, 1);
}
.menu-tab-approve .tab a.active{
    color: #FF731F ;
}
.custom-text{
    color: rgba(102, 102, 102, 1);
}
.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
    top: 48px;
    left: 0;
    right: -1px;
    bottom: 43px;
}

.page-content{
    margin-right: 2px;
    /*margin-top: 50px;*/
    z-index: 0;
    transition: all 2s ease;
}
.carousel .carousel-item{
    width:100%;
    height: 100%;
}
.tabs-content{
    height: 100% !important;
}
.active{
    display: block;
}