<div class="preloader-background">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
<div class="approved custom-text content h-100" data-prev="content-dashboard">
	
	<div class="pl-3 pt-3">
		<img src="icon/file-document.png" height="24" class="float-left pr-2" alt="">
		<h4 class="ml-3">Duyệt</h4>
	</div>
	<div class="p-0 m-0">
		<div class="menu-tab-approve">
			<ul class="tabs w-100">
				<li class="tab"><a class="active text-capitalize" href="#waiting">Chờ duyệt</a></li>
				<li class="tab"><a class=" text-capitalize" href="#done">Đã duyệt</a></li>
				<li class="tab"><a class=" text-capitalize" href="#destroy">Hủy</a></li>
			</ul>
		</div>
		<div id="waiting">
			<div class="waiting-approve">
				<div class="item-approve-wt position-relative pl-3 pr-3">
					<img src="image/avatar.jpg" height="38" class="float-left rounded-circle mt-2" alt="">
					<img src="icon/tag.png" class="position-absolute icon-tag" height="19" alt="">
					<div class="fz-14 content-approve-wt">
						<p class="m-0">
							<strong>Nguyễn Quốc Tân</strong>
							yêu cầu duyệt phiếu XB
							<strong>Phiếu xuất kho thép cho Trang Khanh</strong>
						</p><br>
						<div class="time-approve">
							<div class="status-approve"></div>
							<div class="fz-12"><span>Đã duyệt:</span><span>25-10-2018 10:30:00</span></div>
						</div>
					</div>
					<div class="behind">
						<a href="#" class="delete-btn">Hủy</a>
						<a href="#" class="check-btn ">Duyệt</a>
					</div>
				</div>
			</div>
			<div class="waiting-approve">
				<div class="item-approve-wt position-relative pl-3 pr-3">
					<img src="image/avatar.jpg" height="38" class="float-left rounded-circle mt-2" alt="">
					<img src="icon/tag.png" class="position-absolute icon-tag" height="19" alt="">
					<div class="fz-14 content-approve-wt">
						<p class="m-0">
							<strong>Nguyễn Quốc Tân</strong>
							yêu cầu duyệt phiếu XB
							<strong>Phiếu xuất kho thép cho Trang Khanh</strong>
						</p><br>
						<div class="time-approve">
							<div class="status-approve"></div>
							<div class="fz-12"><span>Đã duyệt:</span><span>25-10-2018 10:30:00</span></div>
						</div>
					</div>
					<div class="behind">
						<a href="#" class="delete-btn">Hủy</a>
						<a href="#" class="check-btn ">Duyệt</a>
					</div>
				</div>
			</div>
			<div class="waiting-approve">
				<div class="item-approve-wt position-relative pl-3 pr-3">
					<img src="image/avatar.jpg" height="38" class="float-left rounded-circle mt-2" alt="">
					<img src="icon/tag.png" class="position-absolute icon-tag" height="19" alt="">
					<div class="fz-14 content-approve-wt">
						<p class="m-0">
							<strong>Nguyễn Quốc Tân</strong>
							yêu cầu duyệt phiếu XB
							<strong>Phiếu xuất kho thép cho Trang Khanh</strong>
						</p><br>
						<div class="time-approve">
							<div class="status-approve"></div>
							<div class="fz-12"><span>Đã duyệt:</span><span>25-10-2018 10:30:00</span></div>
						</div>
					</div>
					<div class="behind">
						<a href="#" class="delete-btn">Hủy</a>
						<a href="#" class="check-btn ">Duyệt</a>
					</div>
				</div>
			</div>
			
		</div>
		<div id="done">
			<div class="item-approve-done position-relative pl-3 pr-3">
				<img src="image/avatar.jpg" height="38" class="float-left rounded-circle mt-2" alt="">
				<img src="icon/tag.png" class="position-absolute icon-tag" height="19" alt="">
				<img src="icon/check.png" height="19" class="float-right mt-2" alt="">
				<div class="fz-14 content-approve-done">
					<p class="m-0">
						<strong>Nguyễn Quốc Tân</strong>
						yêu cầu duyệt phiếu XB
						<strong>Phiếu xuất kho thép cho Trang Khanh</strong>
					</p><br>
					<div class="time-approve">
						<div class="status-approve"></div>
						<div class="fz-12"><span>Đã duyệt:</span><span>25-10-2018 10:30:00</span></div>
					</div>
				</div>
			</div>
			<div class="item-approve-done position-relative pl-3 pr-3">
				<img src="image/avatar.jpg" height="38" class="float-left rounded-circle mt-2" alt="">
				<img src="icon/tag.png" class="position-absolute icon-tag" height="19" alt="">
				<img src="icon/check.png" height="19" class="float-right mt-2" alt="">
				<div class="fz-14 content-approve-done">
					<p class="m-0">
						<strong>Nguyễn Quốc Tân</strong>
						yêu cầu duyệt phiếu XB
						<strong>Phiếu xuất kho thép cho Trang Khanh</strong>
					</p><br>
					<div class="time-approve">
						<div class="status-approve"></div>
						<div class="fz-12"><span>Đã duyệt:</span><span>25-10-2018 10:30:00</span></div>
					</div>
				</div>
			</div>
			<div class="item-approve-done position-relative pl-3 pr-3">
				<img src="image/avatar.jpg" height="38" class="float-left rounded-circle mt-2" alt="">
				<img src="icon/tag.png" class="position-absolute icon-tag" height="19" alt="">
				<img src="icon/check.png" height="19" class="float-right mt-2" alt="">
				<div class="fz-14 content-approve-done">
					<p class="m-0">
						<strong>Nguyễn Quốc Tân</strong>
						yêu cầu duyệt phiếu XB
						<strong>Phiếu xuất kho thép cho Trang Khanh</strong>
					</p><br>
					<div class="time-approve">
						<div class="status-approve"></div>
						<div class="fz-12"><span>Đã duyệt:</span><span>25-10-2018 10:30:00</span></div>
					</div>
				</div>
			</div>
		</div>
		<div id="destroy">
			<div class="item-approve-des position-relative pl-3 pr-3">
				<img src="image/avatar.jpg" height="38" class="float-left rounded-circle mt-2" alt="">
				<img src="icon/tag.png" class="position-absolute icon-tag" height="19" alt="">
				<img src="icon/close.png" height="19" class="float-right mt-2" alt="">
				<div class="fz-14 content-approve-des">
					<p class="m-0">
						<strong>Nguyễn Quốc Tân</strong>
						yêu cầu duyệt phiếu XB
						<strong>Phiếu xuất kho thép cho Trang Khanh</strong>
					</p><br>
					<div class="time-approve">
						<div class="status-approve"></div>
						<div class="fz-12"><span>Đã duyệt:</span><span>25-10-2018 10:30:00</span></div>
					</div>
				</div>
			</div>
			<div class="item-approve-des position-relative pl-3 pr-3">
				<img src="image/avatar.jpg" height="38" class="float-left rounded-circle mt-2" alt="">
				<img src="icon/tag.png" class="position-absolute icon-tag" height="19" alt="">
				<img src="icon/close.png" height="19" class="float-right mt-2" alt="">
				<div class="fz-14 content-approve-des">
					<p class="m-0">
						<strong>Nguyễn Quốc Tân</strong>
						yêu cầu duyệt phiếu XB
						<strong>Phiếu xuất kho thép cho Trang Khanh</strong>
					</p><br>
					<div class="time-approve">
						<div class="status-approve"></div>
						<div class="fz-12"><span>Đã duyệt:</span><span>25-10-2018 10:30:00</span></div>
					</div>
				</div>
			</div>
			<div class="item-approve-des position-relative pl-3 pr-3">
				<img src="image/avatar.jpg" height="38" class="float-left rounded-circle mt-2" alt="">
				<img src="icon/tag.png" class="position-absolute icon-tag" height="19" alt="">
				<img src="icon/close.png" height="19" class="float-right mt-2" alt="">
				<div class="fz-14 content-approve-des">
					<p class="m-0">
						<strong>Nguyễn Quốc Tân</strong>
						yêu cầu duyệt phiếu XB
						<strong>Phiếu xuất kho thép cho Trang Khanh</strong>
					</p><br>
					<div class="time-approve">
						<div class="status-approve"></div>
						<div class="fz-12"><span>Đã duyệt:</span><span>25-10-2018 10:30:00</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="js/swipe.js"></script>
	
	<script>
		$(document).ready(function(){
			$('.preloader-background').delay(timeload+100).fadeOut('slow');
			$('.preloader-wrapper').delay(timeload+100).fadeOut();
		});
</script>