<div class="preloader-background">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
<div id="dashboard" class="custom-text content h-100"">
	<div class="fast-report mb-4 position-relative">
		<h5 class="pl-3 pt-3 heading-rp">Báo Cáo Nhanh</h5>
		<a href="#" class="position-absolute icon-add-rp add-report">
			<img id="icon-add-rp" src="icon/plus.png" height="20" alt="">
		</a>
		<div class="position-absolute form-add-report">
			<h5 class="font-weight-bold ml-2 border-bottom pb-2">Add Report:</h5>
			<div class="scroll pl-2">
				<input type="checkbox" name="checkbox-rp-a" id="checkbox-rp-1">
				<label for="checkbox-rp-1" class="custom-label d-block">addádddddsadddddđ</label>
				<input type="checkbox" name="checkbox-rp-b" id="checkbox-rp-2">
				<label for="checkbox-rp-2" class="custom-label d-block">add</label>
				<input type="checkbox" name="checkbox-rp-c" id="checkbox-rp-3">
				<label for="checkbox-rp-3" class="custom-label d-block">add</label>
				<input type="checkbox" name="checkbox-rp-d" id="checkbox-rp-4">
				<label for="checkbox-rp-4" class="custom-label d-block">addádddddsadddddđ</label>
				<input type="checkbox" name="checkbox-rp-e" id="checkbox-rp-5">
				<label for="checkbox-rp-5" class="custom-label d-block">add</label>
				<input type="checkbox" name="checkbox-rp-f" id="checkbox-rp-6">
				<label for="checkbox-rp-6" class="custom-label d-block">add</label>
			
			</div>
		</div>
		<div class="row fast-rp-content p-2 mt-4 ml-0 scrolling-wrapper">
			<div class="col-4 item-rp mr-2">
				<div class="text-center">
					<span class="qty">25</span><br>
					<span class="fz-14">Mã hàng chờ xử lí</span>
				</div>
			</div>
			<div class="col-4 item-rp mr-2">
				<div class="text-center">
					<span class="qty">05</span><br>
					<span class="fz-14">Mã hàng chờ xử lí</span>
				</div>
			</div>
			<div class="col-4 item-rp mr-2">
				<div class="text-center">
					<span class="qty">180</span><br>
					<span class="fz-14">Mã hàng chờ xử lí</span>
				</div>
			</div>
			<div class="col-4 item-rp mr-2">
				<div class="text-center">
					<span class="qty">25</span><br>
					<span class="fz-14">Mã hàng chờ xử lí</span>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-report position-relative">
		<h5 class="pl-3 heading-rp">Báo Cáo Chi Tiết</h5>
		<a href="#" class="position-absolute icon-add-ch add-chart">
			<img id="icon-add-rp" src="icon/plus.png" height="20" alt="">
		</a>
		<div class="position-absolute form-add-chart">
			<h5 class="font-weight-bold ml-2 border-bottom pb-2">Add Report:</h5>
			<div class="scroll pl-2">
				<input type="checkbox" name="checkbox-ch-a" id="checkbox-ch-1">
				<label for="checkbox-ch-1" class="custom-label d-block">addádddddsadddddđ</label>
				<input type="checkbox" name="checkbox-ch-b" id="checkbox-ch-2">
				<label for="checkbox-ch-2" class="custom-label d-block">add</label>
				<input type="checkbox" name="checkbox-ch-c" id="checkbox-ch-3">
				<label for="checkbox-ch-3" class="custom-label d-block">add</label>
				<input type="checkbox" name="checkbox-ch-d" id="checkbox-ch-4">
				<label for="checkbox-ch-4" class="custom-label d-block">addádddddsadddddđ</label>
				<input type="checkbox" name="checkbox-ch-e" id="checkbox-ch-5">
				<label for="checkbox-ch-5" class="custom-label d-block">add</label>
				<input type="checkbox" name="checkbox-ch-f" id="checkbox-ch-6">
				<label for="checkbox-ch-6" class="custom-label d-block">add</label>
			</div>
		</div>
		
		<div id="curve_chart" class="mb-4 mt-4 " style="height: 300px;"></div>
		<div id="donut_single" class="" style="height: 200px;margin-bottom: 50px;"></div>
	</div>
</div>
<script src="js/gg-chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$('.preloader-background').delay(timeload + 100).fadeOut('slow');
			$('.preloader-wrapper').delay(timeload + 100).fadeOut();
			
			$(document).on('touchend',function(e) {
		      var temp = $(e.target).closest('.form-add-report,.form-add-chart').length;
		      console.log(temp);
		      if(temp==0){
		      	$(".form-add-report").fadeOut('fast');
		      	$(".form-add-chart").fadeOut('fast');
		      }
		     });
			$(".add-report").on('touchend',function(e){
				e.stopPropagation()
				$(".form-add-report").fadeIn('fast');
				$(".form-add-chart").css('d-none');
			});
			$(".add-chart").on('touchend',function(e){
				e.stopPropagation()
				$(".form-add-chart").fadeIn('fast');
			});
		});
</script>